# ROS2 build artifacts
build/
install/
log/

# VSCode database files
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Environment files
*.env
